@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    /* top space */
    --header-height: 2rem;

    /* colors */
    --main-color: rgb(214, 110, 110);
    --main-color-alt: red;
    --title-color: #393939;
    --text-color: #707070;
    --text-colo-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #FFFFFF;

    /* Font and Typography */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938;
    --small-font-size: 0.813;
    --smaller-font-size: 0.75;


    /* Scrollbar */
    --scrollbar-width: 1.2vw;
}

/* media screen roots */
@media screen and (min-width: 768px) {
    :root {
        --body-font: 'Poppins', sans-serif;
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;    
    }


}

/* chrome + safari custom scrollbar */
::-webkit-scrollbar{
    width: var(--scrollbar-width);
    height: 1em;
}

::-webkit-scrollbar-track{
    background: hsl(315, 77.8%, 75.9%);
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, hsl(315, 77.8%, 70.9%), hsl(258, 42.9%, 68.4%));
    border-radius: 100vw;
    border: .2em solid rgba(255,255,255, 0.7);
}

::-webkit-scrollbar-thumb::hover {
    background: linear-gradient(180deg, hsl(315, 77.8%, 85.9%), hsl(258, 42.9%, 68.4%));
}

/* firefox custom scrollbar */
@supports(scrollbar-color:hsl(315, 77.8%, 85.9%)  hsl(258, 42.9%, 68.4%)){
    * {
        scrollbar-color:hsl(315, 77.8%, 85.9%)  hsl(258, 42.9%, 68.4%);
        scrollbar-width: auto;
    }
}

*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    background: var(--body-color);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.section{
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
    text-align: center;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

.section-subtitle{
    font-weight: 500;
    color: var(--first-color);
    display: block;
    margin-bottom: 0.5rem;
}

/* document */
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 82rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0 4.5rem;
}

.navigation{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
}

.logo a{
  display: flex;
  align-items: center;
}

.logo img{
    width: 7.5vw;
   
}

.logo h6{
   font-size: 1.5rem;
   margin-left: 0.4rem;
   color: var(--main-color);
}

.nav-items{
    display: flex;
    gap: 10px;
}

.nav-items > li {
    padding: 0.4rem 1.2rem;
    font-weight: bold;
    border-radius: 10px;
}

.nav-items li a {
    color: var(--main-color);
    font-size: 1.2rem;
}

.nav-toggle {
    color: var(--main-color);
    font-size: 2rem;
    cursor: pointer;
} 


@media screen and (max-width: 768px){
    .container{
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        padding: 0rem;
    }

    .nav-menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition: 0.4s;
        box-shadow: 0 4px 4px rgba(0,0,0,0.1);
        border-radius: 0 0 1rem 1rem;
        z-index: 100;
    }

    .logo img{
        width: 7.5vw;
        height: 7.5vw;
    }

    .nav-items{
        display: flex;
        flex-direction: column;
    }
}

/* Show menu */
.show-menu{
    top: 3rem;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.description{
    display: block;
    width: 45%;
}

.description > h1 {
    font-size: 4rem;
}

.description h1 > span {
   color: red;
}

.description > p {
    margin-top: 2rem;
}

.description .order-btn{
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    background-color: red;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.image > img{
    animation: spin 8s linear infinite;
    width: 29rem;
    max-width: 40vw;
    height: auto; 
}

.icons{
    width: calc(100vw - var(--scrollbar-width));
    background-color: rgba(0,0,0, 0.7);
}

.items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.items .wrapper{
  padding: 2rem 0rem;
  cursor: pointer;
  border-bottom: 0;
  border-top: 0;
}

@keyframes spin {
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
