@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    /* top space */
    --header-height: 3rem;

    /* colors */
    --main-color: rgb(214, 110, 110);
    --main-color-alt: rgb(172, 39, 39);
    --title-color: #393939;
    --text-color: #131212;
    --text-colo-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #FFFFFF;

    /* Font and Typography */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938;
    --small-font-size: 0.813;
    --smaller-font-size: 0.75;


    /* Scrollbar */
    --scrollbar-width: 1.2vw;
}

/* media screen roots */
@media screen and (min-width: 768px) {
    :root {
        --body-font: 'Poppins', sans-serif;
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;    
    }


}

/* chrome + safari custom scrollbar */
::-webkit-scrollbar{
    width: var(--scrollbar-width);
    height: 1em;
}

::-webkit-scrollbar-track{
    background: hsl(315, 77.8%, 75.9%);
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, hsl(315, 77.8%, 70.9%), hsl(258, 42.9%, 68.4%));
    border-radius: 100vw;
    border: .2em solid rgba(255,255,255, 0.7);
}

::-webkit-scrollbar-thumb::hover {
    background: linear-gradient(180deg, hsl(315, 77.8%, 85.9%), hsl(258, 42.9%, 68.4%));
}

/* firefox custom scrollbar */
@supports(scrollbar-color:hsl(315, 77.8%, 85.9%)  hsl(258, 42.9%, 68.4%)){
    * {
        scrollbar-color:hsl(315, 77.8%, 85.9%)  hsl(258, 42.9%, 68.4%);
        scrollbar-width: auto;
    }
}

*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    background: var(--body-color);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.section{
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
    text-align: center;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

.section-subtitle{
    font-weight: 500;
    color: var(--main-color);
    display: block;
    margin-bottom: 0.5rem;
}


.container{
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0 4.5rem;
}

.bg-grid{
    display: grid;
    gap: 1.5rem;
}

.navigation{
    max-width: 1024px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
}

.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    height: 3rem;
}

.logo a{
  display: flex;
  align-items: center;
}

.logo img{
    width: 7.5vw;
   
}

.logo h6{
   font-size: 1.5rem;
   margin-left: 0.4rem;
   color: var(--main-color);
}

.nav-items{
    display: flex;
    gap: 10px;
}

.nav-items > li {
    padding: 0.4rem 1.2rem;
    font-weight: bold;
    border-radius: 10px;
}

.nav-items li a {
    color: var(--text-color);
    font-size: 1.2rem;
}

.nav-toggle {
    color: var(--main-color);
    font-size: 2rem;
    cursor: pointer;
} 


@media screen and (max-width: 768px){
    .container{
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        padding: 0rem;
    }

    .nav-menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition: 0.4s;
        box-shadow: 0 4px 4px rgba(0,0,0,0.1);
        border-radius: 0 0 1rem 1rem;
        z-index: 100;
    }

    .logo img{
        width: 7.5vw;
        height: 7.5vw;
    }

    .nav-items{
        display: flex;
        flex-direction: column;
    }
}

/* Show menu */
.show-menu{
    top: 3rem;
}

.active-link{
    color: var(--main-color);
}

.scroll-header{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background-color: var(--main-color-alt);
    border-radius: 0.4rem;
    z-index: 10;
    transition: 0.4s;
    visibility: hidden;
}

.scrolltop:hover{
    background-color: var(--main-color);
}

.scrolltop-icon{
    font-size: 1.8rem;
    color: var(--body-color);
}

/* Show scrolltop */
.show-scrolltop{
    bottom: 1.5rem;
    visibility: visible;
}

/* Hero section */
.hero-container{
    height: calc(100vh - var(--header-height));
    align-content: center;
}

.hero-title{
    font-size: var(--biggest-font-size);
    color: var(--main-color);
    margin-bottom: 0.5rem;

}

.hero-subtitle{
    font-size: var(--h1-font-size);
    color: vat(--title-color);
    margin-bottom: 2rem;
}

.hero-image{
    width: 300px;
    justify-self: center;
}

/* BUTTONS */
.btn{
    display: inline-block;
    background-color: var(--main-color);
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--main-color-alt);
}

.about-data{
    text-align: center;
}

.about-description{
    margin-bottom: 1.5rem;
}

.about-img{
    width: 280px;
    border-radius: .5rem;
    justify-self: center;
}

/* Service */

.services-container{
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr))
}

.services-content{
    text-align: center;
}

.services-image{
    width: 64px;
    height: 64px;
    fill: var(--main-color);
    margin-bottom: 1rem;
}

.services-title{
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: 0.5rem;
}

.services-description{
    padding: 0 1.5rem;
}

.menu-container{
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
}

.menu-content{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
    padding: .75rem;
}

.menu-img{
    width: 100px;
    align-items: center;
    margin-bottom: 1rem;
}

.menu-name{
    font-size: var(--normal-font-size);
}

.menu-name, .menu-price{
    font-weight: 600;
    color: var(--title-color);
}

.menu-detail, .menu-price{
    font-size: var(--small-font-size);
}

.menu-detail{
    margin-bottom: 0.5rem;
}

.menu-button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .625rem .813rem;
    border-radius: 0.5rem 0 0.5rem 0;
}

/* Contact US */
.contact-container{
    text-align: center;
}

.contact-description{
    margin-bottom: 1.5rem;
}

/* Footer */
.footer-container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer-logo{
    font-size: var(--h3-font-size);
    color: var(--main-color);
    font-weight: 600;
}

.footer-description{
    display: block;
    font-size: var(--small-font-size);
    margin: .25rem 0 1.5rem;
}

.footer-social{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: 1rem;

}

.footer-title{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: 1rem;
}

.footer-link{
    display: inline-block;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.footer-link:hover{
    color: var(--main-color);
}

.footer-copy{
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-colo-light);
    margin-top: 3.5rem;
}



/* Hero section
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.description{
    display: block;
    width: 45%;
}

.description > h1 {
    font-size: 4rem;
}

.description h1 > span {
   color: red;
}

.description > p {
    margin-top: 2rem;
}

.description .order-btn{
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    background-color: red;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.image > img{
    animation: spin 8s linear infinite;
    width: 29rem;
    max-width: 40vw;
    height: auto; 
}

.icons{
    width: calc(100vw - var(--scrollbar-width));
    background-color: rgba(0,0,0, 0.7);
}

.items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.items .wrapper{
  padding: 2rem 0rem;
  cursor: pointer;
  border-bottom: 0;
  border-top: 0;
} */

@keyframes spin {
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
