@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
    --body-font: 'Poppins'
}

/* chrome + safari scrollbar */
::-webkit-scrollbar{
    width: 1.2vw;
    height: 1em;
}

::-webkit-scrollbar-track{
    background: hsl(315, 77.8%, 75.9%);
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, hsl(315, 77.8%, 70.9%), hsl(258, 42.9%, 68.4%));
    border-radius: 100vw;
    border: .2em solid rgba(255,255,255, 0.7);
}

::-webkit-scrollbar-thumb::hover {
    background: linear-gradient(180deg, hsl(315, 77.8%, 85.9%), hsl(258, 42.9%, 68.4%));
}

/* firefox scrollbar */
@supports(scrollbar-color:hsl(315, 77.8%, 85.9%)  hsl(258, 42.9%, 68.4%)){
    * {
        scrollbar-color:hsl(315, 77.8%, 85.9%)  hsl(258, 42.9%, 68.4%);
        scrollbar-width: auto;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--body-font), sans-serif;
    background: #e9d6cd;;
}

/* nav{
    display: flex;
    align-items: center;
    padding: 0.4rem;
} */

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 82rem;
    margin: 1rem auto;
    padding: 0 4.5rem;
}

.logo > img{
    width: 80px;
    height: 80px;
}

a{
    text-decoration: none;
}

.nav-items{
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.nav-items > li {
    /* display: inline-block; */
    padding: 0.4rem 1.2rem;
    /* background-color: teal; */
    font-size: bold;
    border-radius: 10px;
    font-size: 1.2rem;
}

.nav-items li a {
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.description{
    display: block;
    width: 45%;
}

.description > h1 {
    font-size: 4.5rem;
}

.description h1 > span {
   color: red;
}

.description > p {
    margin-top: 2rem;
}

.description .order-btn{
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 25px;
    background-color: teal;
    outline: none;
    border: 1px solid black;
}

.image > img{
    animation: spin 8s linear infinite;
    width: 29rem;
    max-width: 40vw;
    height: auto; 
}

.icons{
    width: 100vw;
    background-color: red;
}

.items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.items .wrapper{
  padding: 2rem 2rem;
  cursor: pointer;
  /* border: 3px solid white; */
  border-bottom: 0;
  border-top: 0;
}

@keyframes spin {
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
